@{
	List<Product> top5 = new List<Product>
	{
		Model[0],
		Model[11],
		Model[3],
		Model[4],
		Model[12]
	};

	var lengthOfList = Model.Count;

	List<Product> latestAdditions = new List<Product>();

	for (int i = 1; i < 11; i++)
	{
		latestAdditions.Add(Model[Model.Count - i]);
	}

	ViewData["Title"] = "Home Page";
}


@model List<Product>

<main id="index-main">

	<!--<div class="text-center">-->
	<section class="home-section" id="home-section-1">

		<article>
			<h2>COMPLETE <br />YOUR <br />STACK</h2>
			<a asp-controller="Home" asp-action="Catalogue" class="hide-in-mobile see-categories-link">SEE ALL CATEGORIES</a>
		</article>

		<!--Container needed to set size and aspect ratio of gif-->
		<div id="album-stack-gif-container">
			<img alt="album stack" id="album-stack-gif" src="~/media/pictures/stack-gif.gif">
		</div>

		<!--Only shown in mobile, needed for a better look with the album stack-->
		<a asp-controller="Home" asp-action="Catalogue"  class="hide-in-desktop see-categories-link">SEE ALL ALBUMS</a>
	</section>

	<section class="home-section" id="home-top-5">
		<h3>
			TOP 5 ALBUMS NOW
		</h3>
		<article>
			@foreach (var p in top5)
			{
				<article class="product-card">
					<a asp-controller="Product" asp-action ="Product" asp-route-productId="@p.ProductId">
					<img alt="album cover" class="blur-filter" src="~/@p.CoverImageLink">
					</a>
					<p class="top5-ranking">
						@{ int pTop5 = top5.IndexOf(p) + 1; }
						@pTop5
					</p>


					<h4>@p.Title</h4>
					<i>@p.Artist</i>

					<div class="buy-section">
						<p>@p.Price SEK</p>
						<button class="buy-button" onclick="AddToCart(@p.ProductId)">BUY</button>
					</div>
				</article>
				
			}
		</article>
	</section>

	<section id="home-heart-house">
		<section>
			<h3>
				OUR HEART BEATS LIKE HOUSE MUSIC
			</h3>
			<article>
				<h3>
					IN 128 BPM
				</h3>
				<a href="/genre/house">Shop Now</a>
			</article>
		</section>
		<article>
			<video id="heartbeat-video" autoplay loop muted>
				<source src="~/media/pictures/heartbeat.mp4">
			</video>
		</article>
	</section>
	<section class="home-section" id="latest-additions">
		<h3>
			LATEST ADDITIONS
		</h3>
		<div>
			@foreach (var p in latestAdditions)
			{
				<article class="product-card">
					<a asp-controller="Product" asp-action ="Product" asp-route-productId="@p.ProductId">
						<img alt="album cover" class="gray-filter" src="~/@p.CoverImageLink">
					</a>

					<h4>@p.Title - @p.Artist</h4>
				</article>
			}
		</div>
	</section>

</main>