@page "/{productId}"

@using DiscogsClient.Data.Result
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SNDTRCK.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	int trackLoop = 1;

	var product = ViewBag.Product as Product;
	var album = ViewBag.Album as DiscogsMaster;

	Layout = "/Views/Shared/_Layout.cshtml";
}

<main id="product-main">
	<div id="product-container">
		<section>
			<img src="/@product!.CoverImageLink"/>
		</section>
		<section>
			<article>
				<h2>@product.Title - @product.Artist</h2>
				<div id="price-container">
					<h3>@Math.Truncate(product.Price)</h3>
					<h3>  SEK</h3>
					<button class="btn btn-dark" onclick="AddToCart(@product.ProductId)">BUY</button>
				</div>
			</article>
			<article>
				<p>Album name: @product.Title</p>
				<p>Artist: @product.Artist</p>
				<p>Release year: @product.ReleaseYear</p>
				<p>Record label: @product.RecordLabel</p>
			</article>
		</section>
	</div>
	

	<div id="tracklist-divider">
		<h3>Tracklist</h3>
	</div>
	

	@if (album != null)
	{
		<section id="tracklist">
			@foreach (var track in album.tracklist)
			{
				<article class="track-container">
					<p>@trackLoop - @track.title</p>
					<p>@track.duration</p>
				</article>

				trackLoop++;
			}
		</section>
	}
	else
	{
		<h2>Album was not found in the API</h2>
	}

</main>