@page "/Product/{productId}"

@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SNDTRCK.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	var product = ViewBag.Product as Product;

	Layout = "../_Shared/_Layout";
}
<main class="max-width-80 d-flex flex-column text-center align-items-center">
<h3>Edit Product</h3>
<form id="add-admin" asp-area="Admin" asp-controller="Product" asp-action="ModifyExistingProduct" enctype="multipart/form-data">

	<table>
		<tbody>

		<tr>
			<td>
				<label for="title">Title </label>
			</td>
			<td>
				<input type="text" id="title" name="title" placeholder="@product!.Title">
			</td>
		</tr>

		<tr>
			<td>
				<label for="artist">Artist: </label>
			</td>
			<td>
				<input type="text" id="artist" name="artist" placeholder="@product.Artist">
			</td>
		</tr>

		<tr>
			<td>
				<label for="genre">Genre: </label>
			</td>
			<td>
				<select id="genre" name="genre">
					<option value="@product.Genre">@product.Genre</option>
					<option value="Rock">Rock</option>
					<option value="Classical">Classical</option>
					<option value="Country">Country</option>
					<option value="EDM">EDM</option>
					<option value="Drum & Bass">Drum & Bass</option>
					<option value="Dubstep">Dubstep</option>
					<option value="House">House</option>
					<option value="Pop">Pop</option>
					<option value="R&amp; & Soul">R&amp;B &amp; Soul</option>
					<option value="Soundtrack">Soundtrack</option>
					<option value="Techno">Techno</option>
					<option value="Trap">Trap</option>
					<option value="Hip-Hop">Hip Hop & Rap</option>
					<option value="Indie">Indie</option>
					<option value="Chiptune">Chiptune</option>
					<option value="OST">OST</option>
					<option value="New-Age">New Age</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label for="description">Description: </label>
			</td>
			<td>
				<input type="text" id="description" name="description" placeholder="@product.Description">
			</td>
		</tr>

		<tr>
			<td>
				<label for="label">Record Label: </label>
			</td>
			<td>
				<input type="text" id="label" name="label" placeholder="@product.RecordLabel">
			</td>
		</tr>

		<tr>
			<td>
				<label for="release-year">Release Year: </label>
			</td>
			<td>
				<input type="number" id="release-year" name="release-year" placeholder="@product.ReleaseYear">
			</td>
		</tr>

		<tr>
			<td>
				<label for="discog-id">Discog Id: </label>
			</td>
			<td>
				<input type="number" id="discog-id" name="discog-id" placeholder="@product.DiscogId">
			</td>
		</tr>


		<tr>
			<td>
				<label for="price">Price </label>
			</td>
			<td>
				<input type="number" id="price" name="price" placeholder="@product.Price">
			</td>
		</tr>

		<tr>
			<td>
				<label for="album-cover">Upload Cover Image</label>
			</td>
			<td>
				<input type="file" id="album-cover" name="album-cover" class="form-control-file">
			</td>
		</tr>
		</tbody>
	</table>
	<input type="hidden" name="productId" value="@product.ProductId">
	<button type="submit" id="submit-btn" class="btn btn-primary" name="submit-btn" value="Save Album">Save Album</button>
</form>
</main>