@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using SNDTRCK.Models

@model List<Product>
@{
	Layout = "../_Shared/_Layout";
}

<h2>Manage Products</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Title</th>
			<th scope="col">Artist</th>
			<th scope="col">Genre</th>
			<th scope="col">Price</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		
			@if (Model != null)
			{
				@foreach (var product in Model)
				{
				<tr>
					<th scope="col"><img src="~/@product.CoverImageLink" class="product-image"/>
					</th>
					<th scope="col">@product.Title</th>
					<th scope="col">@product.Artist</th>
					<th scope="col">@product.Genre</th>
					<th scope="col">@product.Price</th>


					<th scope="col">
						<!-- TODO:  Model is null when loading Product page, to be fixed. -->
						<!--<form asp-area="Admin" asp-controller="Product" asp-action="Product" method="get">
							<input type="hidden" name="productId" value="productId" />
							<button type="submit" class="btn btn-success">Edit</button>
						</form>-->
						<form asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct">
							<input type="hidden" name="productId" value="@product.ProductId" />
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</th>
				</tr>

				
				}
			}
		
	</tbody>
</table>

<h3>Add New Product</h3>
<form asp-area="Admin" asp-controller="Product" asp-action="SaveNewProduct" enctype="multipart/form-data">

	<div class="form-group">
		<label for="title">Title </label>
		<input type="text" id="title" name="title" placeholder="Album Title..." required />
	</div>

	<div class="form-group">
		<label for="genre">Artist: </label>
		<input type="text" id="artist" name="artist" placeholder="Album Artist..." required />
	</div>

	<div class="form-group">
		<label for="genre">Genre: </label>
		<input type="text" id="genre" name="genre" placeholder="Album Genre..." required />
	</div>

	<div class="form-group">
		<label for="genre">Description: </label>
		<input type="text" id="description" name="description" placeholder="Album Description..." required />
	</div>

	<div class="form-group">
		<label for="price">Price </label>
		<input type="number" id="price" name="price" placeholder="Album Price..." required />
	</div>

	<div class="form-group">
		<label for="album-cover">Upload Cover Image</label>
		<input type="file" id="image" name="image" class="form-control-file" required>
	</div>

	<button type="submit" id="submit-btn" class="btn btn-primary" name="submit-btn" value="Save Album"/>Save Album</button>
</form>