@page "/Order/{orderId}"

@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SNDTRCK.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	var order = ViewBag.Order as Order;
	var orderDetails = ViewBag.OrderDetails as List<OrderDetail>;
	var products = ViewBag.Products as List<Product>;

	int currentIteration = 0;

	Layout = "../_Shared/_Layout";
}
<main class="max-width-80 d-flex flex-column text-center align-items-center">
	<h3>Edit Order</h3>
	<form id="add-admin" asp-area="Admin" asp-controller="Order" asp-action="ModifyExistingOrder">

		<table>
			<tbody>

				<tr>
					<td>
						<label for="orderid">Order Id: </label>
					</td>
					<td>
						<input type="text" id="orderid" name="orderid" value="@order!.OrderId" disabled>
					</td>
				</tr>

				<tr>
					<td>
						<label for="date">Date: </label>
					</td>
					<td>
						<input type="text" id="date" name="date" value="@order!.OrderDate" disabled>
					</td>
				</tr>

				<tr>
					<td>
						<label for="firstname">First Name: </label>
					</td>
					<td>
						<input type="text" id="firstname" name="firstname" value="@order.FirstName" disabled>
					</td>
				</tr>

				<tr>
					<td>
						<label for="lastname">Last Name: </label>
					</td>
					<td>
						<input type="text" id="lastname" name="lastname" value="@order.LastName" disabled>
					</td>
				</tr>

				<tr>
					<td>
						<label for="city">City: </label>
					</td>
					<td>
						<input type="text" id="city" name="city" placeholder="@order.City">
					</td>
				</tr>

				<tr>
					<td>
						<label for="postalcode">Postal Code: </label>
					</td>
					<td>
						<input type="number" id="postalcode" name="postalcode" placeholder="@order.PostalCode">
					</td>
				</tr>



				<tr>
					<td>
						<label for="address">Address: </label>
					</td>
					<td>
						<input type="text" id="address" name="address" placeholder="@order.Address">
					</td>
				</tr>

				<tr>
					<td>
						<label for="orderstatus">Order Status: </label>
					</td>
					<td>
						<select id="orderstatus" name="orderstatus">
							<option value="@order.OrderStatus">@order.OrderStatus</option>
							<option value="Received">Received</option>
							<option value="Shipped">Shipped</option>
							<option value="Delivered">Delivered</option>
							<option value="Cancelled">Cancelled</option>
						</select>
					</td>
				</tr>

			</tbody>
		</table>

		<hr />

		<h4>Order Details</h4>

		<table>
			<thead>
			<th>
				Product
			</th>
			<th>
				Quantity
			</th>
			</thead>
			<tbody>
			@foreach (var p in orderDetails)
			{
				<tr>
					<td>
						<p>@products[currentIteration].Title</p>
					</td>
					<td>
						<p> @p.Quantity</p>
					</td>
				</tr>

				{
					currentIteration++;
				}
			}

			</tbody>
		</table>

		<input type="hidden" name="orderId" value="@order.OrderId">
		<button type="submit" id="submit-btn" class="btn btn-primary" name="submit-btn" value="Modify Order">Modify Order</button>
	</form>
</main>